body {
  font-family: "Jost", sans-serif !important;
}

p {
  font-family: "Jost", sans-serif !important;
}

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  
}
/*Navbar */

.navbar {
  margin-top: 32px;
}
.nav-item {
  font-size: 14px;
  margin-left: 40px;
}

.logo {
  max-width: 169px;
  max-height: 24px;
}

/*Home page First Section hero  */

.home-first-section {
  margin-top: 50px;
  height: 640px;
  border-radius: 10px;
  background-color: #e7816b;
  position: relative;
  overflow: hidden;
}

.first-section-text-container {
  width: 600px;
  height: 350px;
  padding-top: 145px;
  padding-left: 90px;
}

.first-section-text-heading {
  font-size: 48px;
  font-weight: medium;
}
.first-section-text-subtext {
  padding-top: 25px;
  font-size: 17px;
}

.first-section-btn {
  margin-top: 40px;
  width: 152px;
  height: 56px;
  border-radius: 7px !important;
  font-size: 15px !important;
  font-weight: medium;
  transition: 0.2s !important;
}

.first-section-btn:hover {
  color: white !important;
  background-color: #ffad9b !important;
  border: none !important;
}

.hero-pattern {
  position: absolute;
  display: inline-block;
  height: 640px;
  width: 640px;
  top: 0;
  right: 0;
}

.phone-image-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 300px;
  max-height: 650px !important;
  width: 300px;
}

/* Home page first Section End */

/*Second Section Home page */

.second-section {
  margin-top: 160px;
}

.second-section-container {
  height: 640px;
  width: 1112px;
}

.second-web-design {
  background-image: url("/assets/image-web-design-large.jpg");  
  background-repeat: no-repeat;
  border-radius: 10px !important;
}

.second-web-col {
  height: 100%;
}
.second-app-design {
  background-image: url("/assets/image-app-design.jpg");
  background-repeat: no-repeat;
  border-radius: 10px !important;
  background-size: cover;
  height: 95% !important;
  margin-bottom: 2%;
}
.second-graphic-design {
  background-image: url("/assets/image-graphic-design.jpg");
  background-repeat: no-repeat;
  border-radius: 10px !important;
  background-size: cover;
  margin-top: 2%;
  height: 95% !important;
}

.section2-image-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.section2-image-wrapper:hover {
  background-color: #e7816b;
  opacity: 0.9;
  cursor: pointer;
}

.section2-heading {
  color: white;
  font-size: 48px;
  font-weight: 400 !important;
}

.section2-link {
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: inherit !important;
}
.arrow {
  color: #e7816b;
}

/*Second Section Home page end */

/*Third Section Home page start */

.third-section {
  margin-top: 150px;
  background: url("assets/bg-pattern-leaf.svg");
  background-repeat: no-repeat;
  background-position: 480px 120px;
  padding-bottom: 220px;
}

.third-info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.third-image-container {
  background: url("/assets/bg-pattern-small-circle.svg");
  background-repeat: no-repeat;
}

.third-info-heading {
  margin-top: 50px;
  letter-spacing: 5px;
  font-size: 20px;
}

.third-info-text {
  margin-top: 30px;
  font-size: 16px;
}

/*Third Section Home page End */

/*Fourth section start */

.fourth-section {
  position: relative;
  padding-top: 150px;
}

.home-cta-box {
  background-color: #e7816b;
  position: absolute;
  height: 292px;
  border-radius: 7px;
  top: -60px;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  height: 400px;
  width: 100%;
  background-color: #1d1c1e;
}

.cta-text {
  width: 50%;
  padding-left: 95px;
  padding-top: 60px;
}

.cta-text h1 {
  font-size: 40px;
}

.cta-btn-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-btn {
  border-radius: 7px !important;
  font-size: 15px !important;
  font-weight: medium;
  transition: 0.2s !important;
  width: 152px;
  height: 56px;
}

.cta-btn:hover {
  color: white !important;
  background-color: #ffad9b !important;
  border: none !important;
}

.footer-content-container {
  padding-top: 145px;
}

.footer-link {
  padding-left: 40px;
  text-decoration: none;
  color: #fff;
}

.footer-link:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.footer-top {
  border-bottom: 1px solid #979797;
  padding-bottom: 40px;
}

.footer-bottom {
  padding-top: 40px;
}

.footer-bottom p {
  margin: 2px;
}

.social-col {
  position: relative !important;
}
.footer-social {
  position: absolute;
}

.footer-social span {
  padding-left: 10px;
}

/*fourth section end */

/*WEB DESIGN PAGE START */

/*Web design header section start */
.header-container {
  position: relative;
  margin-top: 50px;
  background-color: #e7816b;
  height: 252px;
  border-radius: 7px;
  align-items: center;
  overflow: hidden;
}

.header-text {
  width: 80%;
}

.header-heading {
  color: #fff;
  font-size: 48px;
}
.header-subtext {
  color: #fff;
  font-size: 17px;
  width: 50%;
  margin-top: 15px;
}

.circles-web-design {
  position: absolute;
  max-height: 504px;
  right: 0;
  transform: rotate(180deg) scaleX(-1);
}

.categories-app-design {
  height: 100%;
}

.categories-web-design {
  height: 100% ;
}

.categories-graphic-design {
  height: 100% ;
}

/*Web design header section ends */

/* project section starts */
.project-section {
  padding-top: 150px;
  min-height: 1100px;
}

.project-section-graphic-design {
  padding-top:150px;
  min-height: 550px;
}

.card {
  border: 1px solid #fff !important;
}

.card-img-top {
  
  border-radius: 10px 10px 0px 0px !important;
}

.card-body {
  background-color: #fdf3f0;
  align-items: center !important;
  border-radius: 0px 0px 10px 10px !important;
}
.card-text {
  flex-direction: column;
}

.card-text h2 {
  font-size: 20px;
  padding-top: 15px;
  letter-spacing: 5px;
  color: #e7816b;
}
.card-text p {
  font-size: 16px;
  padding-top: 7px;
}

.categories-row {
  height: 308px;
  margin-top: 160px;
  margin-bottom:220px
}

.categories-app-design {
  background: url('/assets/image-app-design.jpg');
  border-radius: 7px;
}

.categories-web-design {
  background: url('/assets/image-web-design-large.jpg');
  border-radius: 7px;
}

.categories-graphic-design {
  background: url('/assets/image-graphic-design.jpg');
  border-radius:7px
}

.categories-image-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px
}

.categories-image-wrapper:hover {
  background-color: #e7816b;
  opacity: 0.9;
  cursor: pointer;
}


/*project section ends */

/*WEB DESIGN PAGE End */

/* About us page start */
.aboutus-hero-container {
  height: 480px;
  background-color: #e7816b;
  margin-bottom: 160px;
  margin-top:50px;
  border-radius: 7px;
}

.about-hero-text-container {
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #fff;
  width: 635px;
  height: 100%;
  
}

.about-hero-heading {
font-size: 48px;
margin-bottom: 40px;
width: 458px;
}

.about-hero-subtext {
  width: 458px ;
font-size:16px
}

.about-hero-image {
  background: url('assets/image-about-hero.jpg');
  width: 476px ;
  border-radius: 0 7px 7px 0 ;
}

.talent-section-container{
  height: 640px;
  background-color: #FDF3F0;
  margin-bottom:60px;
  border-radius: 7px;
  margin-bottom: 150px;
}
.about-talent-left{
  width: 476px ;
  background:url('assets/image-world-class-talent.jpg');
  border-radius: 7px 0 0 7px;
}

.about-talent-right {
width: 635px;
justify-content: center;
align-items: center;
align-content: center;
}

.about-talent-text {
  width: 445px;
}

.about-talent-text h1 {
  color: #e7816b;
  margin-bottom:40px
}
.about-talent-text p {
  font-size:16px;
  color: 333136;
}

.location-row{
  height: 364px;
  margin-bottom: 150px;
}



.location-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.location-box-img-container {
  background: url('assets/bg-pattern-small-circle.svg');
  margin-bottom: 50px;
}

.location-box-location {
  margin-bottom:30px;
  letter-spacing:5px;
}

.location-box-btn {
  width: 152px !important;
  height: 56px !important;
  border-radius: 7px !important;
  border: none !important;
  background-color: #e7816b !important;
  color: #FFFF;
  letter-spacing: 1px;
}

.location-box-btn:hover {
  background-color: #ffad9b !important;
  cursor:pointer;
  
}

.real-deal-container{
  height: 640px;
  margin-bottom: 220px;
  display: flex;
}

.real-deal-left{
width: 635px;
display: flex;
background-color:#FDF3F0;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 7px 0 0 7px;
}

.real-deal-right{
  width: 476px;
  background: url('assets/image-real-deal.jpg');
  border-radius: 0 7px 7px 0;
}

.real-deal-left-container {
  width:445px;
}

.real-deal-heading {
  color: #e7816b;
  margin-bottom: 40px;
  font-size: 48px;
}

.real-deal-left-container p {
  font-size: 16px;
}
/*About us page end */

/* Location page start */
.main-location-row{
  height: 326px;
  padding-top: 30px;
  
  display: flex;
}

.main-location-container {
  margin-bottom: 220px;
}

.location-info{
  width: 730px;
  border-radius: 7px;
  background-color: #FDF3F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-location-heading {
  margin-bottom:30px;
  color: #e7816b;
}


.location-info-text {
  width: 540px;
}

.location-map {
  width: 350px;
  border-radius: 7px;
}

.location-canada-map {
background: url('assets/image-map-canada.png');
}

.location-australia-map {
background: url('assets/image-map-australia.png');
}

.location-uk-map {
background:url('assets/image-map-united-kingdom.png')
}

.main-location-address{
  flex: 1;
}

.main-location-contact {
  flex: 1;
}
.main-location-address p {
  margin: 5px;
  font-size: 16px;
}

.main-location-contact p {
  margin: 5px;
  font-size:16px
}

.main-location-text-heading {
  font-weight:bold
}
.main-location-info-container {
  display: flex;
}
/* Location page end*/

/* Contact page starts */

.contact-container {
  position: relative;
  height:480px;
  margin-top: 50px;
  margin-bottom:160px;
  background-color: #e7816b;
  border-radius: 7px;
  overflow: hidden;
}

.contact-pattern {
  position: absolute;
  bottom: 0;
}

.contact-left {
  width:540px !important;
  justify-content: center;
  align-items: center;
}

.contact-right {
  justify-content: flex-start;
  align-items: center;
}
.contact-heading {
  margin-bottom: 40px;
  width: 445px;
  font-weight: bold;
}

.contact-text {
  width: 445px;
  font-size: 16px;
}
.contact-form {
  height: 291px;
  width: 380px;
}
.contact-form input {
  border: none;
  border-bottom: 1px solid #FFFF !important;
  background-color:transparent !important;
  border-radius: 0px;
  margin-bottom: 20px;
}

.contact-form textarea {
  border: none;
  border-bottom: 1px solid #FFF;
  border-radius: 0px;
  background-color: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #FFFF !important;
  font-size: 15px;
  
}

.contact-submit-btn {
  border-radius:  7px !important;
  border: none !important;
  margin-top: 20px;
  width: 152px;
  height: 56px;
  background-color: #FFFF !important;
  color: #333136 !important;
  font-size: 15px !important;
  letter-spacing: 1px;
}

.contact-submit-btn:hover {
  background-color: #FFAD9B !important;
  color: #FFFF !important;
}
/* Contact page ends */
/*  Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*Home Page first section start */
  .first-section-text-container {
    width: 593px;

    text-align: center;
    padding-top: 50px;
  }

  .first-section-text-subtext {
    width: 85%;
    margin: 0 auto;
  }

  .home-first-section {
    height: 843px;
    overflow: hidden;
  }

  .first-section-text-heading {
    font-size: 48px;
  }

  .first-section-btn {
    margin-top: 30px;
    font-weight: bold !important;
  }

  .hero-pattern {
    top: 100px;
    right: -150px;
  }

  .phone-image-container {
    height: 573px !important;
    bottom: -110px;
    width: 500px;
  }

  .phone-image {
    padding-left: 50px;
  }

  /* Home page first section end*/

  /* Home page second section start*/

  .second-web-design {
    background-size: cover;
    max-height: 200px !important;
    margin-bottom: 25px;
  }


.second-section-row {
  margin: 0px !important;
}
  .second-row {
    max-height: 200px !important;
  }

  /*Home page second section end */

  /*Home page third section start */
  .third-info-container {
    flex-direction: row;
    margin-bottom: 50px;
    width: 100%;
  }

  .third-info-heading {
    margin-top: 0px;
    width: 100%;
    text-align: left !important;
  }

  .third-info-text-container {
    text-align: left !important;
    width: 100%;
    padding-left: 50px;
  }

  .third-info-text {
    text-align: left !important;
    width: 100%;
  }

  /*Home page third sectionz end */

  /*Home page Fourth sectionz start */
  .home-cta-box {
    height: 350px;
    flex-direction: column;
    top: -130px;
  }

  .cta-text {
    width: 80%;
    text-align: center;
    padding: 10px;
    padding-top: 50px;
  }

  .cta-heading {
    width: 60%;
    margin-bottom: 30px;
  }

  .cta-btn-container {
    width: 100%;
  }
  /*Web design page*/
  .project-section {
    padding-top: 115px;
  }

  .card {
    flex-direction: row !important;
    
  }

  .card-img-top {
    width: 50% !important;
  }

  .project-card {
    height: 310px ;
    margin-bottom: 40px ;
  }

  .card-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .categories-row {
    height: 424px;
    margin-top: 120px;
  }
  .categories-app-design {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .categories-web-design {
    height: 200px !important;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .categories-graphic-design {
    height: 200px !important;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /*Contact Page */

  .contact-container {
    height: 711px;
  }

  .contact-left {
    width: 100%;
  
  }

  .contact-heading {
    width: 80%;
  }

  .contact-text {
    width: 80%;
  }

  .contact-form {
    width: 80%;
    margin: 0 auto;
    margin-top: -200px;
  }

  .contact-pattern {
    top: -75px;
    left: -120px;
  }

  .location-row {
    height: 1230px;;
  }

  .location-box {
    margin-bottom: 75px;
  }

  /* Location page */ 

  .main-location-row {
    height: 680px;
   flex-direction: column;
   margin-bottom: 100px;
  }

  .location-map {
    height: 326px;
    width: 100%;
    order: 1;
    border-radius: 15px;
  }

  .location-info {
    height: 326px;
    width: 100%;
    order: 2;
    margin-top: 30px;
    border-radius: 15px;
  }

  .location-canada-map {
    background-repeat: none;
    background-size: cover;
  }

  .location-uk-map {
    background-repeat: none;
    background-size: cover;
  }

  .location-australia-map {
    background-repeat: none;
    background-size: cover;
  }
  
/* About us page*/

.aboutus-hero-container {
  flex-direction: column;
  height: 632px;
  border-radius: 15px 15px 15px 15px  ;
  
}

.about-hero-text-container {
  order: 2;
  height: 320px !important;
  width: 100%;
  text-align: center;
}

.about-hero-image {
  order: 1;
  width: 100% !important;
  height: 320px !important;
  background-size: cover;
  background-repeat:no-repeat;
  border-radius: 15px 15px;
}
.about-hero-subtext {
  width: 85%;
}

.talent-section-container {
  flex-direction: column;
  height: 736px;
  border-radius: 15px 15px 15px 15px;
}

.about-talent-left {
 order: 1;
 height: 320px;
 width: 100% !important;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 100% 60%;
 border-radius: 15px 15px 0 0 ;
}

.about-talent-right {
  order: 2;
  height: calc(736px - 320px);
  width:100% !important;
  text-align:center;
  border-radius: 15px
  
}


.about-talent-text {
  width: 100%;
}
.about-talent-text p {
  width: 85%;
  margin: 0 auto;
}

.real-deal-container {
  flex-direction: column;
  height: 736px;

}
.real-deal-left {
  order: 2;
  height: calc(736px - 320px) ;
  width: 100%;
  border-radius: 15px;
}

.real-deal-right {
  order: 1;
  width: 100%;
  height: 320px;
  border-radius: 15px 15px 0 0 ;
}


.real-deal-left-container p {
  width: 85%;
  margin:  0 auto;
}
  
}

/* Mobile */
@media (min-width: 370px) and (max-width: 767px) {

  /* Home page mobile*/
  .first-section-text-container {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  .first-section-text-subtext {
    font-size: 15px;
  }

  .home-first-section {
    height: 850px;
    overflow: hidden;
    margin-top: 30px;
  }

  .first-section-text-heading {
    padding-top: 50px;
    font-size: 32px;
  }

  .first-section-btn {
    margin-top: 10px;
  }

  .phone-image-container {
    height: 573px;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .phone-image {
    margin-left: -50px;
  }

  /*Second section start */
  .second-section-container {
    height: 798px;
  }

  .second-section-row {
    margin-left: 0px !important;
  }

  .second-web-design {
    max-height: 250px !important;
    margin-bottom: 20px;
  }

  

  .second-row {
    max-height: 250px !important;
  }
  /*Second section end */

  /*Third section start */
  .third-info-container {
    margin-bottom: 90px;
  }
  /*THird section end */

  /*Fourth section start */
  .home-cta-box {
    width: 90% !important;
    height: 379px;
    flex-direction: column;
  }

  .cta-heading {
    font-size: 32px !important;
    width: 80%;
  }

  .cta-text {
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .cta-subtext {
    width: 100%;
    margin-top: 20px;
  }

  .cta-btn-container {
    width: 100%;
  }

  .footer {
    height: 815px;
  }

  .footer-content-container {
    padding-top: 250px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-logo {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .footer-link {
    padding: 10px !important;
  }

  .footer-links {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    text-align: center;
  }

  .footer-location {
    text-align: center;
  }

  .footer-contact {
    text-align: center;
    margin-top: 30px;
  }

  .footer-social {
    width: 95%;
    height: 50px;
    padding-top: 30px;
  }

  /* Web design mobile*/

  .header-heading h1 {
    font-size: 32px ;
  }

  .header-subtext  {
    font-size: 15px;
    width: 100%;
    
  }

  .project-section {
    padding-top: 100px;
  }

  .card-text {
    flex-direction: column;
  }

  .project-card {
    margin-bottom: 40px;
  }

  .categories-row {
    height: 524px;
    margin-bottom: 150px;
    margin-top: 90px;
  }

  .categories-image-wrapper {
    border-radius: 15px;
  }

  .categories-app-design {
    height: 250px;
    border-radius: 15px;
  }

  .categories-graphic-design {
    height: 250px;
    border-radius: 15px;
  }
  .categories-web-design {
    height: 250px;
    border-radius: 15px;
  }

  .section2-heading {
    font-size: 28px;
  }

  /*About us mobile */

  .aboutus-hero-container {
    flex-direction: column;
    height: 715px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  .about-hero-text-container {
    width: 100%;
    order: 2;
    height: calc(715px - 320px);
    text-align: center;
    
  }

  .about-hero-heading {
    width: 100%;
    font-size: 32px;
  }

  .about-hero-subtext {
    width: 90%;
    font-size: 15px;
  }

  .about-hero-image {
    order: 1;
    height: 320px;
    width: 100%;
    border-radius : 15px 15px 0 0;
    
  }

  .talent-section-container {
    height: 865px;
    flex-direction: column;
    border-radius: 15px;

  }

  .about-talent-text {
    width: 90%;
    text-align: center;
  }

  
  .about-talent-text p {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .about-talent-text h1 {
    font-size: 32px;
  }

  .about-talent-left {
    order: 1;
    height: 320px;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .about-talent-right {
    order: 2;
    height: calc(865px - 320px);
    width: 100%;
  }

  

  .location-row {
    height: 1320px;
    margin-bottom: 50px;
  }

  .location-box-location {
    font-size: 20px;
  }

  .real-deal-left {
    width: 100%;
    order: 2;
    border-radius: 15px;
    
  }

  .real-deal-container {
    flex-direction: column;
    height: 865px;
    margin-bottom: 150px;
    border-radius: 15px;
  }

  .real-deal-left-container {
    width: 100%;
    height: calc(865px - 320px);
    text-align: center;
    
  }

  .real-deal-left p {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 20px;
  }

  .real-deal-heading {
    margin-top: 80px;
    font-size: 32px;
  }
  .real-deal-right {
    order: 1;
    width: 100%;
    height: 320px;
    border-radius: 15px 15px 0 0;
  }
}

/* Home page xs mobile*/
@media (max-width: 369px) {
  .first-section-text-container {
    width: 100%;
    padding: 26px;
    text-align: center;
  }

  .first-section-text-subtext {
    font-size: 15px;
  }

  .home-first-section {
    height: 110vh;
    overflow: hidden;
    margin-top: 30px;
  }

  .first-section-text-heading {
    padding-top: 50px;
    font-size: 32px;
  }

  .first-section-btn {
    margin-top: 10px;
  }
  .phone-image-container {
    display: none;
  }

  .phone-image {
    display: none;
  }

  /*Second section start */
  .second-section-container {
    height: 798px;
  }

  .second-section-row {
    margin-left: 0px !important;
  }

  .second-web-design {
    max-height: 250px !important;
    margin-bottom: 20px;
  }

  .second-row {
    max-height: 250px !important;
  }
  /*Second section end */

  /*Third section start */
  .third-info-container {
    margin-bottom: 90px;
  }
  /*THird section end */

  /*Fourth section start */
  .home-cta-box {
    width: 90% !important;
    height: 379px;
    flex-direction: column;
  }

  .cta-heading {
    font-size: 32px !important;
    width: 80%;
  }

  .cta-text {
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .cta-subtext {
    width: 100%;
    margin-top: 20px;
  }

  .cta-btn-container {
    width: 100%;
  }

  .footer {
    height: 815px;
  }

  .footer-content-container {
    padding-top: 250px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-logo {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .footer-link {
    padding: 10px !important;
  }

  .footer-links {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    text-align: center;
  }

  .footer-location {
    text-align: center;
  }

  .footer-contact {
    text-align: center;
    margin-top: 30px;
  }

  .footer-social {
    width: 95%;
    height: 50px;
    padding-top: 30px;
  }

  /*fourth section end */
}
