body {
  font-family: "Jost", sans-serif !important;
}

p {
  font-family: "Jost", sans-serif !important;
}
/*Navbar */

.navbar {
  margin-top: 32px;
}
.nav-item {
  font-size: 14px;
  margin-left: 40px;
}

.logo {
  max-width: 169px;
  max-height: 24px;
}

/*Home page First Section hero  */

.home-first-section {
  margin-top: 50px;
  height: 640px;
  width: 1111px;
  border-radius: 10px;
  background-color: #e7816b;
  position: relative;
}

.first-section-text-container {
  width: 600px;
  height: 350px;
  padding-top: 145px;
  padding-left: 90px;
}

.first-section-text-heading {
  font-size: 48px;
  font-weight: medium;
}
.first-section-text-subtext {
  padding-top: 25px;
  font-size: 17px;
}

.first-section-btn {
  margin-top: 40px;
  width: 152px;
  height: 56px;
  border-radius: 7px !important;
  font-size: 15px !important;
  font-weight: medium;
  transition: 0.2s !important;
}

.first-section-btn:hover {
  color: white !important;
  background-color: #ffad9b !important;
  border: none !important;
}

.hero-pattern {
  position: absolute;
  display: inline-block;
  height: 640px;
  width: 640px;
  top: 0;
  right: 0;
}

.phone-image-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 100px;
  max-height: 650px !important;
  width: 284px !important;
}

/* Home page first Section End */

/*Second Section Home page */

.second-section {
  margin-top: 160px;
}

.second-section-container {
  height: 640px;
  width: 1112px;
}

.second-web-design {
  background-image: url("/assets/image-web-design-large.jpg");
  background-repeat: no-repeat;
  border-radius: 7px;
}
.second-app-design {
  background-image: url("/assets/image-app-design.jpg");
  background-repeat: no-repeat;
  border-radius: 7px !important;
  background-size: cover;
  height: 95% !important;
  margin-bottom: 2%;
}
.second-graphic-design {
  background-image: url("/assets/image-graphic-design.jpg");
  background-repeat: no-repeat;
  border-radius: 7px !important;
  background-size: cover;
  margin-top: 2%;
  height: 95% !important;
}

.section2-image-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.section2-image-wrapper:hover {
  background-color: #e7816b;
  opacity: 0.9;
  cursor: pointer;
}

.section2-heading {
  color: white;
  font-size: 48px;
  font-weight: 400 !important;
}

.section2-link {
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: inherit !important;
}
.arrow {
  color: #e7816b;
}

/*Second Section Home page end */

/*Third Section Home page start */

.third-section {
  margin-top: 150px;
  background: url("assets/bg-pattern-leaf.svg");
  background-repeat: no-repeat;
  background-position: 480px 120px;
  padding-bottom: 150px;
}

.third-info-container {
  display: flex;
  flex-direction: column;
}

.third-image-container {
  background: url("/assets/bg-pattern-small-circle.svg");
  background-repeat: no-repeat;
}

.third-info-heading {
  margin-top: 50px;
  letter-spacing: 5px;
  font-size: 20px;
}

.third-info-text {
  margin-top: 30px;
  font-size: 16px;
}
